@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
Mobile: 375px
- Desktop: 1440px

## Colors
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700

h1 {
    font-size:(paragraph): 15px;
    font-family: [Outfit](https://fonts.google.com/specimen/Outfit);
    font-weight: 400, 700;

}

img {
    max-width: 100%;
}
body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
}

.border {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 200px;
    
}

.container {
   background-color: var(--white);
   padding: 1.25rem;
   border-radius: 0.625rem;
   box-shadow: 5px 5px 5px rgba (0,0,0,0.2);
}

.attribution {font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }